{% extends "ProvipUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<section id="content">
    <div class="row">
        <div class="col col-lg-4 col-offset-4 m-t-large">
            <section class="panel">
                <header class="panel-heading text-center">
                    Thank your for registering
                </header>

                <p>Welcome to Pathway {{ user.firstName }} {{ user.lastName }}</p>

                <p>Your account is now active.</p>

                <div class="line line-dashed"></div>

                {% if is_granted('ROLE_STUDENT') %}
                    <a href="{{ path('provip_application_student_dashboard') }}" class="btn btn-primary btn-block">Go to your student dashboard</a>
                {% elseif is_granted('ROLE_COMPANY_STAFF_ADMIN') %}
                    <a href="{{ path('provip_application_company_dashboard') }}" class="btn btn-primary btn-block">Go to your company dashboard</a>
                {% else %}
                {% endif %}

                <!--
                {% if app.session is not empty %}
                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
                {% endif %}
                -->

            </section>
        </div>
    </div>
</section>

{% endblock fos_user_content %}