{% if form is defined %}
    {% form_theme form 'ProvipUserBundle:Form:fields.html.twig' %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
<head>
    <meta charset="utf-8">
    <title>Get access to Pathway</title>
    <meta name="description" content="Provip is an international internship marketplace bringing students and companies together">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{{ asset('bundles/provipapplication/images/favicon.ico') }}" />

    {% stylesheets
    'bundles/provipapplication/css/bootstrap.css' filter='cssrewrite'
    'bundles/provipapplication/css/style.css' filter='cssrewrite'
    'bundles/provipapplication/css/*' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!--[if lt IE 9]>
    {% stylesheets 'bundles/provipapplication/css/ie.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts
    '@ProvipApplicationBundle/Resources/public/js/respond.min.js'
    '@ProvipApplicationBundle/Resources/public/js/html5.js'
    '@ProvipApplicationBundle/Resources/public/js/excanvas.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <![endif]-->

</head>
<body>
<!-- header -->
<header id="header" class="navbar navbar-sm bg bg-black">
    <a href="#" class="btn btn-link pull-right"><i class="icon-question icon-xlarge text-default"></i></a>
    <a class="navbar-brand" href="#">Pathway</a>
</header>

<!-- / header -->



{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="alert alert-{{ type }} rect">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<!-- / header -->
{% block body %}
    {{ block('fos_user_content') }}
{% endblock %}
<!-- footer -->
<footer id="footer">
    <div class="text-center padder clearfix">
        <p>
            <small>&copy; Pathway 2013, bringing Students and Companies together for powerful internships</small><br><br>
        </p>
    </div>
</footer>
{% javascripts
'@ProvipApplicationBundle/Resources/public/js/jquery.min.js'
'@ProvipApplicationBundle/Resources/public/js/bootstrap.js'
'@ProvipApplicationBundle/Resources/public/js/app.js'
'@ProvipApplicationBundle/Resources/public/js/app.data.js'
'@ProvipApplicationBundle/Resources/public/js/pageguide.min.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<!-- / footer -->
<script type="text/javascript">
  $(document).ready(function() { tl.pg.init({}); });
</script>
</body>
</html>

