{% extends "ProvipApplicationBundle::base_company.html.twig" %}

{% block main %}

    <div class="padder clearfix" style="min-height: 15px">

    </div>

    <div class="row">
        <div class="col col-lg-9">
            <div class="row">
                <ul class="thumbnails">
                    {% for student in students %}
                    <li class="col col-lg-4">
                        <div class="thumbnail">
                            <div class="media multi-padder">
                                <span class="pull-left thumb-small">
                                    {% if student.picture %}
                                        <img class="img-circle" width="150" height="150" src="{{ student.picture.getWebPath | imagine_filter('thumbnail')  }}" />
                                    {% else %}
                                        <img class="img-circle" width="150" height="150" src="{{ asset('bundles/provipapplication/images/default-user-icon-profile.png') }}" />
                                    {% endif %}
                                </span>
                                <div class="pull-right text-success m-t-small">

                                </div>
                                <div class="media-body">
                                    <div><a href="#" class="h5">{{ student }}</a></div>
                                    <small class="text-muted">{{ student.nationality }}</small>
                                </div>
                            </div>
                            <div class="caption">

                                <div class="line pull-in"></div>

                                <table class="table table-striped m-b-none text-small">
                                    <tr>
                                        <td><small>University</small></td>
                                        <td><small>{% if student.enrollment %}{{ student.enrollment.studyprogram.higherEducationalInstitution }}{% endif %}</small></td>
                                    </tr>
                                    <tr>
                                        <td><small>Study Program</small></td>
                                        <td><small>{% if student.enrollment %}{{ student.enrollment.studyprogram }}{% endif %}</small></td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td> {{ student.email }}</td>
                                    </tr>
                                </table>

                                <div class="line pull-in"></div>
                                <p>
                                   <a href="{{ path('provip_application_marketplace_companymarketplacedetail', {'slug': student.slug}) }}" class="btn btn-white btn-small">Details</a>
                                </p>


                            </div>
                        </div>
                    </li>
                    {% if loop.index is divisibleby(3) %}
                        </ul>
                        </div>
                        <div class="row ul-break">
                         <ul class="thumbnails">
                    {% endif  %}

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


{% endblock %}