{% extends "ProvipApplicationBundle::base_company.html.twig" %}
{% form_theme form 'ProvipApplicationBundle:Form:fields.html.twig' %}

{% block main %}
<div class="padder clearfix">
    <h4><i class="icon-sitemap"></i> Company Settings</h4>
</div>
<div class="row">
    <div class="col col-lg-6">
        <section class="panel">
            <form class="form-horizontal" action="{{ path('provip_application_company_info') }}" method="POST" enctype="multipart/form-data">

                {{ form_errors(form) }}

                <div class="row">
                    <div class="col col-lg-12">
                        <div class="row">
                            {{ form_label(form.picture, label|default(null), { 'label_attr': { 'class': 'col col-lg-3 control-label' } }) }}
                            <div class="col col-lg-9 media">
                                <div class="bg-light pull-left text-center media-large thumb-large">
                                    {% if company.picture %}
                                        <img class="img-rounded" width="150" height="150" src="{{(company.picture.getWebPath) | imagine_filter('thumbnail')  }}" />
                                    {% else %}
                                        <i class="icon-user inline icon-sitemap icon-3x m-t-large m-b-large"></i>
                                    {% endif %}
                                </div>
                                <div class="media-body">
                                    {{ form_widget(form.picture, { 'attr': {'class': 'btn btn-small btn-info m-b-small'  } }) }}
                                    <br>
                                    <a href="{{ path('provip_application_company_deletecompanypicture') }}" class="btn btn-small btn-default">Delete</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col col-lg-3 control-label">Company Name</label>
                            {{ form_widget(form._token) }}
                            <div class="col col-lg-9">
                                <span class="text">{{ company.name }}</span>
                                <div class="line line-dashed m-t-large"></div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col col-lg-3 control-label">Country</label>
                            <div class="col col-lg-9">
                                {{ form_widget(form.country, { 'attr': {'class': 'selectpicker'} }) }}
                                {{ form_errors(form.country) }}
                            </div>
                        </div>

                        <div class="row">
                            <label class="col col-lg-3 control-label">Company language</label>
                            <div class="col col-lg-9">
                                {{ form_widget(form.language, { 'attr': {'class': 'selectpicker'} }) }}
                                {{ form_errors(form.language) }}
                            </div>
                        </div>

                        <div class="row">
                            <label class="col col-lg-3 control-label">Other accepted languages</label>
                            <div class="col col-lg-9">
                                {{ form_widget(form.supportedLanguages, { 'attr': {'class': 'selectpicker'} }) }}
                                {{ form_errors(form.supportedLanguages) }}
                            </div>
                        </div>


                        {{ form_rest(form) }}

                        <div class="row">
                            <div class="col col-lg-9 col-offset-3">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock %}