{% extends "ProvipApplicationBundle::base_company.html.twig" %}
{% form_theme form 'ProvipApplicationBundle:Form:fields.html.twig' %}


{% block main %}

    <div class="padder clearfix">
        <h4><i class="icon-tag"></i><a href={{ path('provip_application_opportunity_index') }}>Opportunities</a> &raquo; {{ opportunity.title }} </h4>
    </div>

    <div class="row">
        <div class="col col-lg-12">
            <form class="form-horizontal complete-opportunity"  action="{{ path('provip_application_opportunity_detail',{'slug':opportunity.slug}) }}" method="POST">
                <section class="panel">
                    <header class="panel-heading">
                        <ul class="nav nav-tabs pull-right">
                            <li class="active"><a href="#home" data-toggle="tab">General</a></li>
                            <li class=""><a href="#profile" data-toggle="tab">Profile</a></li>
                            <li class="com-protocol-doc"><a href="#communicationprotocol" data-toggle="tab">Communication Protocol</a></li>
                            <li class="tasks-doc"><a href="#goals" data-toggle="tab">Goals</a></li>
                            <li class=""><a href="#applications" data-toggle="tab">Applications</a></li>
                            <li class=""><a href="#danger" data-toggle="tab"><span class="text-danger">Admin</span></a></li>
                        </ul>

                    </header>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                           {{ form_row(form.title) }}
                           {{ form_row(form.startDate) }}
                           {{ form_row(form.endDate) }}
                           {{ form_row(form.nbrOfPositions) }}
                           {{ form_row(form.mentor) }}

                            <div  class="row">
                                <div class="col col-lg-9 col-offset-3">


                                        <button type="button" class="btn btn-success complete-opportunity" data-slug="{{ opportunity.slug }}"><i class="icon-check"></i> Save changes</button>


                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="profile">
                            {{ form_row(form.description) }}
                            {{ form_row(form.skills) }}
                            {{ form_row(form.selectionProcedure) }}
                            {{ form_row(form.communicationProtocol) }}


                            <div class="padder clearfix" style="min-height: 15px">

                            </div>


                            <div  class="row">
                                <div class="col col-lg-9 col-offset-3">

                                        <button type="button" class="btn btn-success complete-opportunity" data-slug="{{ opportunity.slug }}"><i class="icon-check"></i> Save changes</button>


                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="communicationprotocol">
                            {{ form_row(form.howCommunication) }}
                            {{ form_row(form.toolsCommunication) }}
                            {{ form_row(form.scheduleCommunication) }}
                            {{ form_rest(form) }}

                            <div class="padder clearfix" style="min-height: 15px">

                            </div>


                            <div  class="row">
                                <div class="col col-lg-9 col-offset-3">

                                    <button type="button" class="btn btn-success complete-opportunity" data-slug="{{ opportunity.slug }}"><i class="icon-check"></i> Save changes</button>


                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="goals">

                             <section class="panel-content goals">

                                {% for goal in opportunity.projectGoals %}

                                <article class="media">

                                    <div class="pull-left thumb-small">

                                        <span class="icon-stack">
                                            <i class="icon-circle text-success icon-stack-base"></i>
                                            <i data-opportunity="{{ opportunity.slug }}" data-goal="{{ goal.id }}"  class="icon-flag icon-light show-goal"></i>
                                        </span>

                                    </div>

                                    <div class="media-body">

                                        <div class="pull-right media-mini text-center text-muted">
                                           <a href="#" data-opportunity="{{ opportunity.slug }}" data-goal="{{ goal.id }}" class="show-goal"><small class="label bg-light">{{ goal.tasks | length }} tasks</small><a>
                                            <a href="#" data-opportunity="{{ opportunity.slug }}" data-goal="{{ goal.id }}" class="delete-goal"><small class="label bg-warning">Delete</small><a>

                                        </div>

                                        <a href="#" data-opportunity="{{ opportunity.slug }}" data-goal="{{ goal.id }}"  class="h4 show-goal">{{ goal.description }}</a>

                                    </div>
                                 </article>

                                 <div class="line pull-in"></div>

                                 {% endfor %}


                                <article class="media">
                                    <a href="#new-goal" data-toggle="modal" class="btn btn-block btn-info"><i class="icon-plus"></i> PROJECT GOAL</a>
                                </article>
                            </section>

                        </div>

                        <div class="tab-pane" id="applications">

                            <table class="table table-striped m-b-none text-small">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Mission Statement</th>
                                    <th>HEI</th>
                                    <th>StudyProgram</th>
                                    <th>Skills</th>
                                    <th>HEI Contact</th>
                                    <th>Admin</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for app in opportunity.applications %}
                                    {% if app.submittedForReview %}
                                    <tr>
                                        <td>{{ app.student }} (<a href="mailto:{{ app.student.email }}">{{ app.student.email }}</a>)</td>
                                        <td>{{ app.student.missionStatement }}</td>
                                        <td>{{ app.student.enrollment.studyProgram.higherEducationalInstitution }}</td>
                                        <td>{{ app.student.enrollment.studyProgram }}</td>
                                        <td>
                                        {% for skill in app.student.enrollment.studyProgram.skills %}
                                            {% if loop.index > 1 %} &mdash; {% endif %}
                                            {{ skill.value }}
                                        {% endfor %}
                                        </td>
                                        <td>{{ app.coach }} (<a href="mailto:{{ app.coach.email }}">{{ app.coach.email }}</a>)</td>
                                        <td><a href="{{ path('provip_application_application_reviewascompany', {'application': app.id }) }}" class="btn btn-info btn-small">Review Details</a></td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>

                        <div class="tab-pane" id="danger">
                            <div class="alert alert-danger alert-block">
                                <h4>
                                   <i class="icon-warning-sign"></i>
                                    Danger!
                                </h4>
                                <p>Deleting this internship will delete all activity, applications, project goals and feedback for this internship.
                                <br />Are you sure you want to do this?</p>
                            </div>

                            <a class="btn btn-danger block" href="{{ path('provip_application_opportunity_delete', {'slug': opportunity.slug}) }}">I understand the consequences and want to delete this internship</a>
                        </div>


                    </div>
                </section>

            </form>
        </div>

        <div class="col col-lg-4 col-offset-1">
        </div>


    <div id="errors" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                        <h4 class="modal-title" id="myModalLabel">There were issues with your submitted data</h4>
                    </div>

                    <div class="modal-body">

                        <div class="errors">
                        </div>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-small btn-default" data-dismiss="modal">Close and correct errors</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
    </div>

    <form class="form-horizontal new-goal"  action="{{ path('provip_application_opportunity_detail',{'slug':opportunity.slug}) }}" method="POST">
    <div id="new-goal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                        <h4 class="modal-title" id="myModalLabel">Add a new goal</h4>
                    </div>

                    <div class="modal-body">


                        <div class="errors">
                        </div>

                        <article class="media">

                            {{ form_row(form2.description) }}

                        </article>

                        <div class="line pull-in"></div>

                        {{ form_label(form2.tasks) }}

                        <article class="tasks media" data-prototype="

                            &lt;div class=&quot;row&quot; style=&quot;margin-bottom: 20px&quot; &gt;
                            &lt;div class=&quot;col col-lg-8&quot;&gt;
                              {{ form_widget(form2.tasks.vars.prototype.title)|e }}
                            &lt;/div&gt;
                            &lt;div class=&quot;col col-lg-3&quot;&gt;
                               {{ form_widget(form2.tasks.vars.prototype.deadline)|e }}
                            &lt;/div&gt;
                            &lt;div class=&quot;col col-lg-1&quot;&gt;
                              &lt;a href=&quot;#&quot; class=&quot;remove-task-pre-submit&quot;&gt;&lt;span class=&quot;text-danger&quot;&gt;&lt;i class=&quot;icon-remove&quot;&gt;&lt;/i&gt;&lt;/span&gt;&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        ">

                        </article>

                        {{ form_widget(form2._token) }}


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-small btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-small btn-primary new-goal">Create</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
    </div>
    </form>



        <div id="edit-goal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                        <h4 class="modal-title" id="myModalLabel">Project Goal</h4>
                    </div>

                    <div class="modal-body">


                        <form class="goal-form">

                        </form>



                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-small btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>


        <ul id="tlyPageGuide" data-tourtitle="Important information on this page">
          <li class="tlypageguide_bottom" data-tourtarget=".com-protocol-doc">
            <div>
              <p>What is a communication and collaboration protocol?</p>

              <p>The communication and collaboration protocol is made up in mutual agreement between the mentor and the student and lines out expectations and rules for a good e-coaching relationship. It states when and how they will be available (e.g. every Wednesday from 2 to 3 pm for a Skype session or a monthly F2F meeting in the library), when and how reporting is required (e.g. in a reflection after each live project meeting), when and how feedback can be expected (e.g. not less than a week after the initial upload using an assessment template) etc. As a strict one-on-one setting should be avoided, co-workers need to be involved in the process by making virtual attendance of team meetings and group discussions possible. To raise awareness of and reflection on intercultural differences in a virtual setting, the focus will be mostly on written communication, negotiation styles, business cultures, decision making processes etc. The proposal also indicates how much work will be done face-to-face and what the share of virtual work will, can or has to be. By using technology that supports synchronous communication in a setting that is as close as possible to a face-to-face setting (for example video or web-conferencing) and defining a virtual space for non-task-related communication similar to the everyday off-the-record communication that also happens in a face-to-face setting, mutual feelings of trust and responsibility will be built.</p>

              <p></p>

            </div>
          </li>
          <li class="tlypageguide_bottom" data-tourtarget=".tasks-doc">
            <div>

              Good quality tasks are crucial to the learning process. Be as specific and concrete as possible about the tasks that will need to be done during the traineeship so students can set their expectations and meet yours.

            </div>
          </li>
        </ul>

        <div id="tlyPageGuideWelcome">
          <h4>Welcome {{ app.user }}</h4>
          <p>This page contains all the information for an internship opportunity.</p>
          <p>Fill in all the required information to inform the student of this opportunity.</p>
          <button class="tlypageguide_dismiss">Got it, thanks</button>
        </div>



{% endblock %}