{% extends "ProvipApplicationBundle::base_company.html.twig" %}
{% form_theme form 'ProvipApplicationBundle:Form:fields.html.twig' %}


{% block main %}

    <div class="padder clearfix">
        <h4><i class="icon-tag"></i><a href={{ path('provip_application_opportunity_index') }}>Opportunities</a> &raquo; {{ opportunity.title }} </h4>
    </div>

    <div class="row">
        <div class="col col-lg-6">
            <form class="form-horizontal" action="{{ path('provip_application_opportunity_detail',{'slug':opportunity.slug}) }}" method="POST" enctype="multipart/form-data">
                <section class="panel">
                    <header class="panel-heading">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#home" data-toggle="tab">General</a></li>
                            <li class=""><a href="#process" data-toggle="tab">Application Process</a></li>
                            <li class=""><a href="#goals" data-toggle="tab">Skills & Goals</a></li>
                        </ul>

                    </header>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                           {{ form_row(form.title) }}
                           {{ form_row(form.startDate) }}
                           {{ form_row(form.endDate) }}
                           {{ form_row(form.nbrOfPositions) }}
                          {{ form_row(form.mentor) }}

                        </div>
                        <div class="tab-pane" id="profile">

                        </div>
                        <div class="tab-pane" id="process">
                            {{ form_row(form.description) }}
                            {{ form_row(form.selectionProcedure) }}
                            {{ form_row(form.communicationProtocol) }}
                        </div>
                        <div class="tab-pane" id="goals">
                            {{ form_rest(form) }}
                        </div>

                        <div  class="row">
                            <div class="col col-lg-12">
                                <a class="pull-right btn btn-success btn-small">Save Changes</a>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>

        <div class="col col-lg-4 col-offset-1">
            <section class="comment-list block">
                <article id="comment-id-1" class="comment-item media arrow-left">
                    <a class="pull-left thumb-small avatar"><img src="{{ asset('bundles/provipapplication/images/avatar.jpg') }}" class="img-circle"></a>
                    <section class="media-body panel">
                        <header class="panel-heading clearfix">
                            <a href="#">John smith</a><label class="label bg-info m-l-mini">Editor</label> <span class="text-muted m-l-small pull-right"><i class="icon-time"></i>24 minutes ago</span>
                        </header>
                        <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                        <div class="comment-action m-t-small">
                            <a href="#" data-toggle="class" class="btn btn-white btn-mini active"><i class="icon-star-empty text-muted text"></i><i class="icon-star text-danger text-active"></i>Like</a>
                            <a href="#comment-form" class="btn btn-white btn-mini"><i class="icon-mail-reply text-muted"></i>Reply</a>
                        </div>
                    </section>
                </article>
                <!-- .comment-reply -->
                <article id="comment-id-2" class="comment-item comment-reply media arrow-left">
                    <a class="pull-left thumb-small"><span class="btn btn-circle btn-white btn-mini"><i class="icon-user"></i></span></a>
                    <section class="media-body panel text-small">
                        <a href="#">Mika Sam</a><label class="label bg-inverse m-l-mini">Admin</label> Report this comment is helpful <span class="text-muted m-l-small pull-right"><i class="icon-time"></i>10 minutes ago</span>
                    </section>
                </article>
                <!-- / .comment-reply -->
                <article id="comment-id-3" class="comment-item media arrow-left">
                    <a class="pull-left thumb-small avatar"><img src="{{ asset('bundles/provipapplication/images/avatar.jpg') }}" class="img-circle"></a>
                    <section class="media-body panel">
                        <header class="panel-heading clearfix">
                            <a href="#">By me</a><label class="label bg-default m-l-mini">User</label> <span class="text-muted m-l-small pull-right"><i class="icon-time"></i>about 1 hour ago</span>
                        </header>
                        <div>This comment was posted by you.</div>
                        <div class="comment-action m-t-small">
                            <a href="#comment-id-3" data-dismiss="alert" class="btn btn-white btn-mini"><i class="icon-trash text-muted"></i>Remove</a>
                        </div>
                    </section>
                </article>
                <article id="comment-id-4" class="comment-item media arrow-left">
                    <a class="pull-left thumb-small avatar"><img src="{{ asset('bundles/provipapplication/images/avatar.jpg') }}" class="img-circle"></a>
                    <section class="media-body panel">
                        <header class="panel-heading clearfix">
                            <a href="#">Peter</a><label class="label bg-primary m-l-mini">Vip</label> <span class="text-muted m-l-small pull-right"><i class="icon-time"></i>2 hours ago</span>
                        </header>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                        <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit...</div>
                        <div class="comment-action m-t-small">
                            <a href="#" data-toggle="class" class="btn btn-white btn-mini"><i class="icon-star-empty text-muted text"></i><i class="icon-star text-danger text-active"></i>Like</a>
                            <a href="#comment-form" class="btn btn-white btn-mini"><i class="icon-mail-reply text-muted"></i>Reply</a>
                        </div>
                    </section>
                </article>
                <!-- comment form -->
                <article class="comment-item media" id="comment-form">
                    <a class="pull-left thumb-small avatar"><img src="{{ asset('bundles/provipapplication/images/avatar.jpg') }}" class="img-circle"></a>
                    <section class="media-body">
                        <form action="" class="m-b-none">
                            <div class="input-group">
                                <input type="text" placeholder="Input your comment here">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="button">POST</button>
                    </span>
                            </div>
                        </form>
                    </section>
                </article>
            </section>
        </div>

    </div>


{% endblock %}