{% extends "ProvipApplicationBundle::base_student.html.twig" %}


{% block main %}

    <div class="padder clearfix" style="min-height: 15px">

    </div>

    <div class="row">


        <div class="col col-lg-8">

            <section class="comment-list block">

                   {% for e in activityUpdateEvents %}

                    <article id="comment-id-{{ loop.index }}" class="comment-item media arrow-left">
                        <a class="pull-left thumb-small avatar">
                            {% if e.author.picture %}
                                <img src="{{(e.author.picture.getWebPath) | imagine_filter('thumbnail')  }}" alt="{{ e.author }}" class="img-circle" />
                            {% else %}
                                <img src="{{ asset('bundles/provipapplication/images/default-user-icon-profile.png') }}" alt="{{ e.author }}" class="img-circle" />
                            {% endif %}
                        </a>
                        <section class="media-body panel">
                            <header class="panel-heading clearfix">
                                <a href="#">{{ e.author }}</a><label class="label bg-info m-l-mini">You</label> <span class="text-muted m-l-small pull-right"><i class="icon-time"></i>{{ e.created | date("d M Y H:i:s") }} <a data-comment-id={{ loop.index }} data-activityupdateid="{{ e.id }}" href="#" class="remove-update"><span class="icon-remove-circle"></span></a></span>
                            </header>
                            <div>{{ e.message }}</div>
                            {% if e.activity %}
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item bg">
                                        <div class="media">


                                        <span class="pull-right label bg-default">
                                            Activity
                                        </span>

                                            <div class="media-body">
                                                <div><a href="#" class="h5">{{ e.activity.title }}</a></div>
                                                <small class="text-muted">{{ e.activity.state }}</small>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            {% endif %}
                        </section>
                    </article>

                       {% for fb in e.feedbackEvents %}
                           <article class="comment-item comment-reply media arrow-left">
                               <a class="pull-left thumb-small">
                                   {% if fb.author.picture %}
                                       <img src="{{(fb.author.picture.getWebPath) | imagine_filter('thumbnail')  }}" alt="{{ fb.author }}" class="img-circle" />
                                   {% else %}
                                       <img src="{{ asset('bundles/provipapplication/images/default-user-icon-profile.png') }}" alt="{{ fb.author }}" class="img-circle" />
                                   {% endif %}
                               </a>
                               <section class="media-body panel text-small">


                                    <span class="pull-left label
                                    {% if fb.evaluationValue == 'Poor' %}bg-danger{% endif %}
                                    {% if fb.evaluationValue == 'Fair' %}bg-warning{% endif %}
                                    {% if fb.evaluationValue == 'Good' %}bg-success{% endif %}" style="margin-right: 10px">
                                        {{ fb.evaluationValue }}
                                    </span>

                                   <a href="#" data-container="body" data-html="true" data-placement="right" data-trigger="click" data-title="{{ fb.author }}" data-content="  <span class='kpi-title'>Email</span>
                        {{ fb.author.email }} <br>
                        <span class='kpi-title'>Phone</span>
                        {{ fb.author.phone }}<br>
                        <span class='kpi-title'>Job Description</span>
                        {{ fb.author.jobDescription }} <br>
                        <span class='kpi-title'>You can contact me for</span>
                        {{ fb.author.responsibleFor }}" data-toggle="popover">  <strong>{{ fb.author }}</strong></a> {{ fb.message }}

                                   <span class="text-muted m-l-small pull-right">
                                        <i class="icon-time"></i> {{ fb.created | date("d M Y H:i:s") }}
                                    </span>
                               </section>
                           </article>
                       {% endfor %}

                    {% endfor %}

            </section>

        </div>

        <div class="col col-lg-4">


            <div class="panel">
                <header class="panel-heading">
                    Internship Progress <span class="pull-right label bg-info">Today: {{ "now" | date("d M Y") }}</span>
                </header>

                <div class="panel-content">

                    <p>Start: {{ application.startDate | date("d M Y") }}</p>
                    <p>End: {{ application.endDate | date("d M Y") }}</p>


                    <div class="line pull-in"></div>

                    <a href="{{ path('provip_application_application_apply', {'slug': application.opportunity.slug}) }}" class="btn btn-block btn-small btn-alt btn-white view-charter">View Internship Charter</a>

                    {% if application.internship.completed == false %}

                        <div class="line pull-in"></div>

                        <a href="#" class="complete-intern-doc btn btn-block btn-small btn-alt btn-white mark-complete" data-public-id="{{ application.internship.publicId }}">Mark Internship as Complete</a>

                        <a style="display: none" href="{{ path('provip_application_internship_evaluationstudent', {'publicId': application.internship.publicId }) }}" class="btn btn-block btn-primary btn-white view-evaluation" data-public-id="{{ application.internship.publicId }}">View Evaluation</a>

                    {% else %}

                        <a href="{{ path('provip_application_internship_evaluationstudent', {'publicId': application.internship.publicId }) }}" class="btn btn-block btn-primary btn-white view-evaluation" data-public-id="{{ application.internship.publicId }}">View Evaluation</a>

                    {% endif %}





                </div>
            </div>

            <section class="panel">
                <header class="panel-heading">
                    <span class="label bg-info pull-right">{{ activities | length }}</span>
                    Activities
                </header>
                <section class="panel-content">

                    {% for activity in activities %}

                        {% if loop.index > 1 %}
                            <div class="line pull-in"></div>
                        {% endif %}
                    <article class="media">
                        <div class="pull-left thumb-small">
                          <span class="icon-stack">
                            <i class="icon-circle text-warning icon-stack-base"></i>
                            <i class="icon-star icon-light"></i>
                          </span>
                        </div>
                        <div class="media-body">
                            <div class="pull-right media-mini text-center text-muted">
                                <strong class="h4">{{ activity.deadline | date("d") }}</strong><br>
                                <small class="label bg-light">{{ activity.deadline | date("M") }}</small>
                            </div>
                            <a href="#" class="h4 text-success">{{ activity.title }}</a>
                            <small class="block">{{ activity.description }}</small>
                            <strong class="text-small block">{{ activity.state }}</strong>
                        </div>
                    </article>
                    {% endfor %}
                </section>
            </section>


            <div class="thumbnail">
                <div class="media multi-padder">
                                <span class="pull-left thumb-small">
                                    {% if opportunity.company.picture %}
                                        <img class="img-circle" width="150" height="150" src="{{ opportunity.company.picture.getWebPath | imagine_filter('thumbnail')  }}" />
                                    {% else %}
                                        <img class="img-circle" width="150" height="150" src="{{ asset('bundles/provipapplication/images/default-user-icon-company.png') }}" />
                                    {% endif %}
                                </span>

                    <div class="media-body">
                        <div><a href="#" class="h5">{{ opportunity.title }}</a></div>
                        <small class="text-muted">{{ opportunity.company }}, {{ opportunity.company.country }} <br />
                            <i class="icon-user"></i> {{ opportunity.nbrOfPositions }} &mdash; from {{ opportunity.startDate | date('M Y') }} until {{ opportunity.endDate | date('M Y') }}</small>
                    </div>
                </div>
                <div class="caption">

                    <div class="line pull-in"></div>

                    <div class="fixed-height">

                        <p>
                            <small>
                                {% if opportunity.description | length > 300 %}
                                    {{ opportunity.description[:300] }}...

                                {% else %}
                                    {{ opportunity.description }}
                                {% endif %}
                            </small>
                        </p>

                    </div>


                    <div class="line pull-in"></div>
                    <p>

                        <a class="btn btn-white btn-small" href="{{ path('provip_application_marketplace_detail', {'slug': opportunity.slug}) }}"><i class="icon-list"></i> Details</a>

                    </p>


                </div>
            </div>


        </div>

    </div>

  <ul id="tlyPageGuide" data-tourtitle="Get help on this page">
    <li class="tlypageguide_bottom" data-tourtarget=".status-updates-intern-doc">
      <div>
        <h4>Status Updates</h4>
        <p>When you connect your update to an activity, write a message detailing your work and select the corresponding activity. You can also indicate the current progress of that activity. An activity can have the following progress: “not yet started”, “just started”, “almost there” and “finished”. When all activities have the “finished” update, the connecting task is completed.
        </p>
      </div>
    </li>
    <li class="tlypageguide_bottom" data-tourtarget=".complete-intern-doc">
      <div>
        <h4>Complete internships</h4>
        <p>Your HEI and Company mentor can give feedback on your updates. If you want your updates to be visible to only the HEI or only the company, select the according privacy setting. To delete an activity update, click the small delete button next to the date of the activity. Keep in mind that all corresponding feedback will be removed as well. When you want to finish the internship, click the “Complete the Internship” button next to the activity feed. You will then access the “Internship Evaluation” page.</p>
      </div>
    </li>
  </ul>

  <div id="tlyPageGuideWelcome">
    <h4>Welcome {{ app.user }}</h4>
    <p>Internship Progress</p>
    <p>The “Internship Progress” page gives you an overview of your status updates and feedback, a to do list of activities and the option to review the charter in detail. To make an internship activity update, click the blue “+post” button. You can either make a random post, not associated with any activity or connect your update to an internship activity.</p>
      <button class="tlypageguide_dismiss">Got it, thanks</button>
  </div>






{% endblock %}