{% extends "ProvipApplicationBundle::base_hei.html.twig" %}


{% block main %}

    <div class="padder clearfix" style="min-height: 15px">

    </div>

    <div class="row">


        <div class="col col-lg-8">

            <section class="comment-list block">

                   {% for e in activityUpdateEvents %}

                    <article id="comment-id-{{ loop.index }}" class="comment-item media arrow-left">
                        <a class="pull-left thumb-small avatar">
                            {% if e.author.picture %}
                                <img src="{{(e.author.picture.getWebPath) | imagine_filter('thumbnail')  }}" alt="{{ e.author }}" class="img-circle" />
                            {% else %}
                                <img src="{{ asset('bundles/provipapplication/images/default-user-icon-profile.png') }}" alt="{{ e.author }}" class="img-circle" />
                            {% endif %}
                        </a>
                        <section class="media-body panel">
                            <header class="panel-heading clearfix">
                                <a href="#">{{ e.author }}</a><label class="label bg-info m-l-mini">Student</label> <span class="text-muted m-l-small pull-right"><i class="icon-time"></i>{{ e.created | date("d M Y H:i:s") }}</span>
                            </header>
                            <div>{{ e.message }}</div>



                            {% if e.activity %}

                                <div class="comment-action m-t-small">
                                    <button class="btn btn-white btn-mini feedback-hei" data-append-to="feedback-{{ loop.index }}" data-activityupdateevent="{{ e.id }}"><i class="icon-mail-reply text-muted"></i>Give Feedback</button>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item bg">
                                        <div class="media">


                                        <span class="pull-right label bg-default">
                                            Activity
                                        </span>

                                            <div class="media-body">
                                                <div><a href="#" class="h5">{{ e.activity.title }}</a></div>
                                                <small class="text-muted">{{ e.activity.state }}</small>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            {% endif %}
                        </section>
                    </article>

                   <div class="feedback" id="feedback-{{ loop.index }}">

                       {% for fb in e.feedbackEvents %}
                           <article class="comment-item comment-reply media arrow-left">
                               <a class="pull-left thumb-small">
                                   {% if fb.author.picture %}
                                       <img src="{{(fb.author.picture.getWebPath) | imagine_filter('thumbnail')  }}" alt="{{ fb.author }}" class="img-circle" />
                                   {% else %}
                                       <img src="{{ asset('bundles/provipapplication/images/default-user-icon-profile.png') }}" alt="{{ fb.author }}" class="img-circle" />
                                   {% endif %}
                               </a>
                               <section class="media-body panel text-small">


                                    <span class="pull-left label
                                    {% if fb.evaluationValue == 'Poor' %}bg-danger{% endif %}
                                    {% if fb.evaluationValue == 'Fair' %}bg-warning{% endif %}
                                    {% if fb.evaluationValue == 'Good' %}bg-success{% endif %}" style="margin-right: 10px">
                                        {{ fb.evaluationValue }}
                                    </span>

                                                             <a href="#" data-html="true" data-placement="right" data-trigger="click" data-title="{{ fb.author }}" data-content="  <span class='kpi-title'>Email</span>
                        {{ fb.author.email }} <br>
                        <span class='kpi-title'>Phone</span>
                        {{ fb.author.phone }}<br>
                        <span class='kpi-title'>Job Description</span>
                        {{ fb.author.jobDescription }} <br>
                        <span class='kpi-title'>You can contact me for</span>
                        {{ fb.author.responsibleFor }}" data-toggle="popover"  data-container="body">  <strong>{{ fb.author }}</strong></a> {{ fb.message }}

                                                               <span class="text-muted m-l-small pull-right">
                                        <i class="icon-time"></i>{{ fb.created | date("d M Y H:i:s") }}
                                    </span>
                               </section>
                           </article>
                       {% endfor %}

                   </div>

                    {% endfor %}

            </section>

        </div>

        <div class="col col-lg-4">


            <div class="panel">
                <header class="panel-heading">
                    Internship Progress <span class="pull-right label bg-info">Today: {{ "now" | date("d M Y") }}</span>
                </header>

                <div class="panel-content">

                    <p>Start: {{ application.startDate | date("d M Y") }}</p>
                    <p>End: {{ application.endDate | date("d M Y") }}</p>


                    <div class="line pull-in"></div>

                    <a href="{{ path('provip_application_application_reviewashei', {'application': application.id }) }}" class="btn btn-block btn-small btn-alt btn-primary">View Internship Charter</a>

                </div>
            </div>

            <section class="panel">
                <header class="panel-heading">
                    <span class="label bg-info pull-right">{{ activities | length }}</span>
                    Activities from the Student Charter
                </header>
                <section class="panel-content">

                    {% for activity in activities %}

                        {% if loop.index > 1 %}
                            <div class="line pull-in"></div>
                        {% endif %}
                    <article class="media">
                        <div class="pull-left thumb-small">
                          <span class="icon-stack">
                            <i class="icon-circle text-warning icon-stack-base"></i>
                            <i class="icon-star icon-light"></i>
                          </span>
                        </div>
                        <div class="media-body">
                            <div class="pull-right media-mini text-center text-muted">
                                <strong class="h4">{{ activity.deadline | date("d") }}</strong><br>
                                <small class="label bg-light">{{ activity.deadline | date("M") }}</small>
                            </div>
                            <a href="#" class="h4 text-success">{{ activity.title }}</a>
                            <small class="block">{{ activity.description }}</small>
                            <strong class="text-small block">{{ activity.state }}</strong>
                        </div>
                    </article>
                    {% endfor %}
                </section>
            </section>





            <div class="thumbnail">
                <div class="media multi-padder">
                                <span class="pull-left thumb-small">
                                    {% if opportunity.company.picture %}
                                        <img class="img-circle" width="150" height="150" src="{{ opportunity.company.picture.getWebPath | imagine_filter('thumbnail')  }}" />
                                    {% else %}
                                        <img class="img-circle" width="150" height="150" src="{{ asset('bundles/provipapplication/images/default-user-icon-company.png') }}" />
                                    {% endif %}
                                </span>

                    <div class="media-body">
                        <div><a href="#" class="h5">{{ opportunity.title }}</a></div>
                        <small class="text-muted">{{ opportunity.company }}, {{ opportunity.company.country }} <br />
                            <i class="icon-user"></i> {{ opportunity.nbrOfPositions }} &mdash; from {{ opportunity.startDate | date('M Y') }} until {{ opportunity.endDate | date('M Y') }}</small>
                    </div>
                </div>
                <div class="caption">

                    <div class="line pull-in"></div>

                    <div class="fixed-height">

                        <p>
                            <small>
                                {% if opportunity.description | length > 300 %}
                                    {{ opportunity.description[:300] }}...

                                {% else %}
                                    {{ opportunity.description }}
                                {% endif %}
                            </small>
                        </p>

                    </div>


                    <div class="line pull-in"></div>
                    <p>

                        <a class="btn btn-white btn-small" href="{{ path('provip_application_marketplace_detail', {'slug': opportunity.slug}) }}"><i class="icon-list"></i> Details</a>

                    </p>


                </div>
            </div>


        </div>

    </div>


    <div id="new-feedback" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                    <h4 class="modal-title" id="myModalLabel">Feedback</h4>
                </div>

                <div class="modal-body">
                    <form action="#" method="POST" class="new-feedback">
                        <div class="errors">

                        </div>

                        <article class="media">
                            <div id="new-feedback-form">

                            </div>
                        </article>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-small btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-small btn-primary submit-feedback-hei">Submit</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>





{% endblock %}