{% extends "ProvipApplicationBundle::base_hei.html.twig" %}

{% block main %}


<div class="padder clearfix" style="min-height: 15px">

</div>

<div class="row">
    <div class="col col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 class="applications-table-doc"><i class="icon-file"></i> Applications</h4>
            </header>
            <div class="pull-out">

                <table class="table table-striped m-b-none text-small">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Internship</th>
                        <th>Company</th>
                        <th>Company Contact</th>
                        <th>Admin</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for app in applications %}
                        {% if app.submittedForReview %}
                            {% if app.approvedByHei and app.approvedByCompany %}
                            {% else %}
                            <tr>
                                <td>{{ app.student }} (<a href="mailto:{{ app.student.email }}">{{ app.student.email }}</a>)</td>
                                <td>{{ app.opportunity }}</td>
                                <td>{{ app.opportunity.company }}</td>
                                <td><a class="btn btn-alt btn-white btn-mini" href="#" data-html="true" data-placement="right" data-trigger="click" data-title="{{ app.opportunity.mentor }}" data-content="  <span class='kpi-title'>Email</span>
                        {{ app.opportunity.mentor.email }} <br>
                        <span class='kpi-title'>Phone</span>
                        {{ app.opportunity.mentor.phone }}<br>
                        <span class='kpi-title'>Job Description</span>
                        {{ app.opportunity.mentor.jobDescription }} <br>
                        <span class='kpi-title'>You can contact me for</span>
                        {{ app.opportunity.mentor.responsibleFor }}" data-toggle="popover">{{ app.opportunity.mentor }}</a></td>
                                <td><a href="{{ path('provip_application_application_reviewashei', {'application': app.id }) }}" class="btn btn-info btn-mini">Review Details</a></td>
                            </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </section>
    </div>

</div>

    <div class="padder clearfix" style="min-height: 15px">

    </div>

    <div class="row">
        <div class="col col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h4 class="internships-table-doc"><i class="icon-road"></i> Internships</h4>
                </header>
                <div class="pull-out">
                    <table class="table table-striped m-b-none text-small">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Internship</th>
                            <th>Company</th>
                            <th>Company Contact</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Progress</th>
                            <th>Evaluation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for app in internships %}

                                <tr>
                                    <td>{{ app.student }} (<a href="mailto:{{ app.student.email }}">{{ app.student.email }}</a>)</td>
                                    <td>{{ app.opportunity }}</td>
                                    <td>{{ app.opportunity.company }}</td>
                                    <td><a class="btn btn-alt btn-white btn-mini" href="#" data-html="true" data-placement="right" data-trigger="click" data-title="{{ app.opportunity.mentor }}" data-content="  <span class='kpi-title'>Email</span>
                        {{ app.opportunity.mentor.email }} <br>
                        <span class='kpi-title'>Phone</span>
                        {{ app.opportunity.mentor.phone }}<br>
                        <span class='kpi-title'>Job Description</span>
                        {{ app.opportunity.mentor.jobDescription }} <br>
                        <span class='kpi-title'>You can contact me for</span>
                        {{ app.opportunity.mentor.responsibleFor }}" data-toggle="popover">{{ app.opportunity.mentor }}</a></td>
                                    <td>{{ app.startDate | date("d M Y") }}</td>
                                    <td>{{ app.endDate | date("d M Y") }}</td>
                                    <td><a href="{{ path('provip_application_internship_detailhei', {'publicId': app.internship.publicId}) }}" class="btn btn-white btn-mini">Progress</a></td>
                                    <td>{% if app.internship.completed %}<a href="{{ path('provip_application_internship_evaluationhei', {'publicId': app.internship.publicId}) }}" class="btn btn-primary btn-mini">Evaluation</a>{% else %}Not ready for evaluation{% endif %}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

    </div>

  <ul id="tlyPageGuide" data-tourtitle="Get help on this page">
    <li class="tlypageguide_bottom" data-tourtarget=".applications-table-doc">
      <div>
        <h4>Applications</h4>
        <p>Applications are internships that are not yet approved. You can open the internship charter by clicking the review details button.
        </p>
      </div>
    </li>
    <li class="tlypageguide_bottom" data-tourtarget=".internships-table-doc">
      <div>
        <h4>Internships</h4>
        <p>The Internships table lists all the current and completed internship. Click on the Progress button to see the activity feed of that particular internship or select Evaluation to go to the Evaluation page.
        </p>
      </div>
    </li>
  </ul>

  <div id="tlyPageGuideWelcome">
    <h4>Welcome {{ app.user }}</h4>
    <p>This is your internships page.</p>
    <p>This page gives you an overview of all running internships and applications. You can check the progress of ongoing internships or evaluate finished projects.</p>
    <button class="tlypageguide_dismiss">Got it, thanks</button>
  </div>

{% endblock %}