{% extends "ProvipApplicationBundle::base_student.html.twig" %}

{% block main %}


<div class="padder clearfix" style="min-height: 15px">

</div>

<div class="row">
    <div class="col col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4><i class="icon-file"></i> My Applications</h4>
            </header>
            <div class="pull-out">

                <table class="table table-striped m-b-none">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody">
                    {% for app in applications %}
                        {% if app.approvedByHei == false or app.approvedByCompany == false %}
                            <tr>
                                <td><a href="{{ path('provip_application_application_apply', {'slug': app.opportunity.slug}) }}">{{ app.opportunity }}</a></td>
                                <td>{{ app.opportunity.company }}</td>
                                <td>
                                    {% if app.rejected %}
                                        <a href="{{ path('provip_application_application_apply', {'slug': app.opportunity.slug}) }}" class="btn btn-danger btn-mini">Rejected</a>
                                    {% else %}
                                        <a href="{{ path('provip_application_application_apply', {'slug': app.opportunity.slug}) }}" class="btn btn-success btn-mini">Pending</a>
                                    {% endif %}
                                </td>
                            </tr>
                         {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

</div>

    <div class="padder clearfix" style="min-height: 15px">

    </div>

    <div class="row">
        <div class="col col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h4><i class="icon-road"></i> My Internships</h4>
                </header>
                <div class="pull-out">

                    <table class="table table-striped m-b-none text-small">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Company</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Company Mentor</th>
                            <th>School Mentor</th>
                            <th>Completed</th>
                        </tr>
                        </thead>
                        <tbody">
                        {% for internship in internships %}
                                <tr>
                                    <td><a href="{{ path('provip_application_internship_detailstudent', {'publicId': internship.publicId}) }}">{{ internship.application.opportunity }}</a></td>
                                    <td>{{ internship.application.opportunity.company }}</td>
                                    <td>{{ internship.application.startDate | date("d M Y") }}</td>
                                    <td>{{ internship.application.endDate | date("d M Y") }}</td>
                                    <td>{{ internship.application.coach }} (<a href="mailto:{{ internship.application.coach.email }}">{{ internship.application.coach.email }}</a>)</td>
                                    <td>{{ internship.application.opportunity.mentor }} (<a href="mailto:{{ internship.application.opportunity.mentor.email }}">{{ internship.application.opportunity.mentor.email }}</a>)</td>
                                    <td>{{ internship.completed }}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

    </div>

{% endblock %}