{% extends "ProvipApplicationBundle::base_admin.html.twig" %}


{% block main %}

    <section class="main padder">
    <div class="clearfix">
      <h4></h4>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <section class="panel">
                <header class="panel-heading">
                    Students
                </header>
                <div>
                    <table class="table table-striped m-b-none text-small">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>First Name</th>
                            <th>Email</th>
                            <th>Study Program</th>
                            <th>HEI</th>
                            <th>Enrollment Status</th>
                            <th>Last Login</th>
                            <th>Nationality</th>
                            <th>Primary Language</th>
                            <th>Other Languages</th>
                            <th>Applications</th>

                        </tr>
                        </thead>
                        <tbody>
                            {% for sp in studyProgrammes %}
                                {% for e in sp.enrollments %}
                                    {% if e.student %}
                                    <tr>
                                        <td>{{ e.student.lastName}}</td>
                                        <td>{{ e.student.firstName}}</td>
                                        <td>{{ e.student.email }}</td>
                                        <td>{{ sp }}</td>
                                        <td>{{ sp.higherEducationalInstitution}}</td>
                                        <td>{% if e.approved %}Approved{% elseif e.denied %}Denied{% else %}Pending{% endif %}</td>
                                        <td>{{ e.student.lastLogin | date("d-m-Y H:i:s") }}</td>
                                        <td>{{ e.student.nationality }}</td>
                                        <td>{% if e.student.language %}{{ e.student.language.valueAttr }}{% endif %}</td>
                                        <td>
                                            {% if e.student.supportedLanguages %}
                                                {% for lang in e.student.supportedLanguages %}
                                                    {{ lang.valueAttr }}
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if e.student.applications %}
                                                <table>
                                                    {% for app in e.student.applications  %}
                                                        <tr>
                                                            <td>{{ app.opportunity.title }}</td>
                                                            <td>{{ app.opportunity.company.name }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

    </div>




    </section>

{% endblock %}