{% extends "ProvipApplicationBundle::base_student.html.twig" %}
{% form_theme form 'ProvipApplicationBundle:Form:fields.html.twig' %}

{% block main %}

    <div class="padder clearfix" style="min-height: 15px">

    </div>

    <div class="row">


        <div class="col col-lg-8">

            <div class="row">
                <div class="col col-lg-6">

                    <div class="panel">
                        <header class="panel-heading">
                            Milestones from {{ app.user.enrollment.studyProgram }}
                        </header>

                        <div class="panel-content">
                            <!-- .accordion -->
                            <div class="accordion" id="accordion2">
                                {% for goal in app.user.enrollment.studyProgram.learningGoals %}
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-learning-{{ loop.index }}">
                                                <i class="icon-flag"></i> {{ goal.description }}
                                                <span class="pull-right"><span class="label">{{ goal.tasks | length }} tasks</span></span>
                                            </a>
                                        </div>
                                        <div id="collapse-learning-{{ loop.index }}" class="accordion-body collapse" style="height: 0px;">
                                            <div class="accordion-inner">
                                                {% for task in goal.tasks %}
                                                    <article class="media">
                                            <span class="pull-left thumb-small">
                                                <a class="add-new-activity" data-append-to="list-learning-{{ task.id }}-{{ loop.index }}" href="#" data-application="{{ application.id }}" data-task="{{ task.id }}" data-toggle-tooltip title="Add an activity to this task" data-placement="right">
                                                    <i class="icon-plus icon-large"></i>
                                                </a>
                                            </span>
                                                        <div class="media-body">
                                                            <div class="pull-right media-mini text-center text-muted">
                                                                <strong class="h4">{{ task.deadline | date("d M Y") }}</strong><br>
                                                            </div>

                                                <span class="h4">
                                                    {{ task.title }}
                                                </span>

                                                            <ul class="activities" id="list-learning-{{ task.id }}-{{ loop.index }}">
                                                                {% for activity in activities %}
                                                                    {% if activity.task.id == task.id %}
                                                                        <li id="activity-{{ activity.id }}">
                                                                            <strong><span class="label label-success">You</span> {{ activity.title }}</strong> <a data-element="activity-{{ activity.id }}" data-activity="{{ activity.id }}" class="delete-activity"><span class="text-danger"><i class="icon-remove-circle"></i></span></a>
                                                                            <p class="text-muted text-small">
                                                                                {{ activity.description }} <br>
                                                                                {{ activity.deadline | date("d M Y") }} <br>
                                                                                Occurs {{ activity.nbrOfOccurrences }} times <br>
                                                                                {{ activity.state }}
                                                                            </p>

                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </article>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- / .accordion -->
                        </div>
                    </div>



                </div>

                <div class="col col-lg-6">

                    <div class="panel">
                        <header class="panel-heading">
                            Project Goals from {{ opportunity.company }}
                        </header>

                        <div class="panel-content">
                            <!-- .accordion -->
                            <div class="accordion" id="accordion3">
                                {% for goal in opportunity.projectGoals %}
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse-project-{{ loop.index }}">
                                                <i class="icon-flag"></i> {{ goal.description }}
                                                <span class="pull-right"><span class="label"add-new-activity>{{ goal.tasks | length }} tasks</span></span>
                                            </a>
                                        </div>
                                        <div id="collapse-project-{{ loop.index }}" class="accordion-body collapse" style="height: 0px;">
                                            <div class="accordion-inner">
                                                {% for task in goal.tasks %}
                                                    <article class="media">
                                            <span class="pull-left thumb-small">
                                                <a class="add-new-activity" href="#" data-append-to="list-project-{{ task.id }}-{{ loop.index }}" data-application="{{ application.id }}" data-task="{{ task.id }}" data-toggle-tooltip title="Add an activity to this task" data-placement="right">
                                                    <i class="icon-plus icon-large"></i>
                                                </a>
                                            </span>
                                                        <div class="media-body">
                                                            <div class="pull-right media-mini text-center text-muted">
                                                                <strong class="h4">{{ task.deadline | date("d M Y") }}</strong><br>
                                                            </div>

                                                <span class="h4">
                                                    {{ task.title }}
                                                </span>

                                                            <ul class="activities" id="list-project-{{ task.id }}-{{ loop.index }}">
                                                                {% for activity in activities %}
                                                                    {% if activity.task.id == task.id %}
                                                                        <li id="activity-{{ activity.id }}">
                                                                            <strong><span class="label label-success">You</span> {{ activity.title }}</strong> <a data-element="activity-{{ activity.id }}" data-activity="{{ activity.id }}" class="delete-activity"><span class="text-danger"><i class="icon-remove-circle"></i></span></a>
                                                                            <p class="text-muted text-small">
                                                                                {{ activity.description }} <br>
                                                                                {{ activity.deadline | date("d M Y") }} <br>
                                                                                Occurs {{ activity.nbrOfOccurrences }} times <br>
                                                                                {{ activity.state }}
                                                                            </p>

                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </article>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- / .accordion -->
                        </div>
                    </div>



                </div>
            </div>

            <div class="row">
                <div class="col col-lg-12">
                    <div class="panel">
                        <header class="panel-heading">
                            Internship Settings
                        </header>

                        <div class="panel-content">
                            <form class="application-settings" method="POST" action="#">
                                {{ form_widget(form) }}
                            </form>


                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col col-lg-4">


            <div class="panel">
                <header class="panel-heading">
                    Application Progress
                </header>

                <div class="panel-content">

                    {% if application.rejected %}
                        <button class="btn btn-info btn-block submit-for-review" data-slug="{{ opportunity.slug }}">Resubmit for review</button>

                        <div class="multi-padder"></div>
                        <p class="text-danger text-small text-center information">Your application has been rejected. You can review your rejection reasons and submit again.</p>

                        <div class="line pull-in"></div>

                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-danger" data-toggle="tooltip" data-original-title="100%" style="width: 100%"></div>
                        </div>

                        <div class="line pull-in"></div>

                        <p>Rejected by {{ application.rejectedBy }}</p>

                        <div class="line pull-in"></div>

                        <span class="kpi-title">Reason</span>
                        <p class="text-small text-danger">{{ application.rejectionReason }}</p>

                    {% elseif application.submittedForReview == false %}
                        <button class="btn btn-info btn-block submit-for-review" data-slug="{{ opportunity.slug }}">Submit for review</button>

                        <div class="multi-padder"></div>
                        <p class="text-muted text-small text-center information">After submitting your activities and settings your application will be reviewed by your school and the company</p>

                        <div class="line pull-in"></div>

                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="10%" style="width: 10%"></div>
                        </div>
                    {% elseif application.submittedForReview %}

                       {% if application.approvedByHei == false or application.approvedByCompany == false %}

                           <button class="btn btn-success btn-block active">Review in progress</button>

                           <div class="multi-padder"></div>

                           <p class="text-muted text-small text-center information">Your application is being reviewed</p>


                           <div class="line pull-in"></div>

                           {% if application.approvedByHei == true and application.approvedByCompany == false %}


                               <h6 class="text-success"><i class="icon-check"></i> Approved by your school</h6>

                               <div class="line pull-in"></div>

                               <div class="progress progress-striped">
                                   <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="75%" style="width: 75%"></div>
                               </div>
                           {% elseif application.approvedByHei == false and application.approvedByCompany == true %}


                               <h6 class="text-success"><i class="icon-check"></i> Approved by internship company</h6>

                               <div class="line pull-in"></div>

                               <div class="progress progress-striped">
                                   <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="75%" style="width: 75%"></div>
                               </div>
                           {% else %}
                               <div class="progress progress-striped">
                                   <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="50%" style="width: 50%"></div>
                               </div>
                           {% endif %}

                       {% else %}
                            <p class="text-success text-small text-center information">Congratulations, your application has been approved!</p>

                           <div class="line pull-in"></div>

                           <h6 class="text-success"><i class="icon-check"></i> Approved by internship company</h6>

                           <h6 class="text-success"><i class="icon-check"></i> Approved by your school</h6>

                           <div class="progress progress-striped">
                               <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="100%" style="width: 100%"></div>
                           </div>
                       {% endif  %}
                    {% else %}
                    {% endif %}


                </div>
            </div>

            <div class="thumbnail">
                <div class="media multi-padder">
                                <span class="pull-left thumb-small">
                                    {% if opportunity.company.picture %}
                                        <img class="img-circle" width="150" height="150" src="{{ opportunity.company.picture.getWebPath | imagine_filter('thumbnail')  }}" />
                                    {% else %}
                                        <img class="img-circle" width="150" height="150" src="{{ asset('bundles/provipapplication/images/default-user-icon-company.png') }}" />
                                    {% endif %}
                                </span>

                    <div class="media-body">
                        <div><a href="#" class="h5">{{ opportunity.title }}</a></div>
                        <small class="text-muted">{{ opportunity.company }}, {{ opportunity.company.country }} <br />
                            <i class="icon-user"></i> {{ opportunity.nbrOfPositions }} &mdash; from {{ opportunity.startDate | date('M Y') }} until {{ opportunity.endDate | date('M Y') }}</small>
                    </div>
                </div>
                <div class="caption">

                    <div class="line pull-in"></div>

                    <div class="fixed-height">

                        <p>
                            <small>
                                {% if opportunity.description | length > 300 %}
                                    {{ opportunity.description[:300] }}...

                                {% else %}
                                    {{ opportunity.description }}
                                {% endif %}
                            </small>
                        </p>

                    </div>


                    <div class="line pull-in"></div>
                    <p>

                        <a class="btn btn-white btn-small" href="{{ path('provip_application_marketplace_detail', {'slug': opportunity.slug}) }}"><i class="icon-list"></i> Details</a>

                    </p>


                </div>
            </div>


        </div>

    </div>



    <div id="new-activity" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                    <h4 class="modal-title" id="myModalLabel">Add a new activity</h4>
                </div>

                <div class="modal-body">
                    <form action="#" method="POST" class="new-activity">
                        <div class="errors">
                        </div>

                        <article class="media">
                            <div id="new-activity-form">

                            </div>
                        </article>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-small btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-small btn-primary new-activity">Create</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>


{% endblock %}