{% form_theme form 'ProvipApplicationBundle:Form:fields.html.twig' %}
{{ form_widget(form.message) }}<br>
{{ form_widget(form.privacy) }}
<div class="line pull-in"></div>

    <div class="activity-form-update">

        <span class="btn btn-block btn-alt btn-small btn-white">Add activity</span>

        <div style="display: none" class="toggle">

            {{ form_row(form.activity) }}
            {{ form_row(form.activityState) }}

            {{ form_rest(form) }}

        </div>


    </div>