<article class="comment-item comment-reply media arrow-left">
    <a class="pull-left thumb-small">
        {% if fb.author.picture %}
            <img src="{{(fb.author.picture.getWebPath) | imagine_filter('thumbnail')  }}" alt="{{ fb.author }}" class="img-circle" />
        {% else %}
            <img src="{{ asset('bundles/provipapplication/images/default-user-icon-profile.png') }}" alt="{{ fb.author }}" class="img-circle" />
        {% endif %}
    </a>
    <section class="media-body panel text-small">


                                    <span class="pull-left label
                                    {% if fb.evaluationValue == 'Poor' %}bg-danger{% endif %}
                                    {% if fb.evaluationValue == 'Fair' %}bg-warning{% endif %}
                                    {% if fb.evaluationValue == 'Good' %}bg-success{% endif %}
                                    " style="margin-right: 10px">
                                        {{ fb.evaluationValue }}
                                    </span>

        <a href="#" data-html="true" data-placement="right" data-trigger="click" data-title="{{ fb.author }}" data-content="  <span class='kpi-title'>Email</span>
                        {{ fb.author.email }} <br>
                        <span class='kpi-title'>Phone</span>
                        {{ fb.author.phone }}<br>
                        <span class='kpi-title'>Job Description</span>
                        {{ fb.author.jobDescription }} <br>
                        <span class='kpi-title'>You can contact me for</span>
                        {{ fb.author.responsibleFor }}" data-toggle="popover"  data-container="body">  <strong>{{ fb.author }}</strong></a> {{ fb.message }}

        <span class="text-muted m-l-small pull-right">
                                        <i class="icon-time"></i>{{ fb.created | date("d M Y H:i:s") }}
                                    </span>
    </section>
</article>