<tr class="{{ status }}">
    <th><a href="#" class="btn btn-white btn-mini"><i class="icon-pencil"></i>Complete</a></th>
    <th>{{ opportunity.title }}</th>
    <th>{{ opportunity.startDate  | date("d-m-Y") }}</th>
    <th>{{ opportunity.endDate  | date("d-m-Y") }}</th>
    <th>{{ opportunity.mentor }}</th>
    <th>{{ opportunity.nbrOfPositions }}</th>
</tr>