{% extends "ProvipApplicationBundle::base.html.twig" %}


{% block nav %}
<ul class="nav" data-spy="affix" data-offset-top="50">
    <li><a href="{{ path('provip_application_hei_dashboard') }}"><i class="icon-dashboard icon-xlarge"></i>Dashboard</a></li>
    <li><a class="first_element_to_target" href="{{ path('provip_application_internship_heiinternships') }}"><i class="icon-road icon-xlarge"></i>Internships</a></li>
    {% if is_granted('ROLE_HEI_STAFF_ADMIN') %}
    <li><a class="second_element_to_target" href="{{ path('provip_application_hei_info') }}"><i class="icon-bookmark icon-xlarge"></i>Study Program</a></li>
    <li><a class="third_element_to_target" href="{{ path('provip_application_hei_staff') }}"><i class="icon-group icon-xlarge"></i>Staff</a></li>
    <li><a class="fourth_element_to_target" href="{{ path('provip_application_hei_students') }}"><i class="icon-book icon-xlarge"></i>Students</a></li>
    <li><a href="{{ path('provip_application_hei_heiopportunities') }}"><i class="icon-tag icon-xlarge"></i>Internship Opportunities</a></li>
    {% endif %}
    <li><a class="fifth_element_to_target" href="{{ path('provip_application_hei_settings') }}"><i class="icon-cog icon-xlarge"></i>Settings</a></li>
</ul>
{% endblock %}

{% block user_menu %}
    <ul class="dropdown-menu">
        <li><a href="{{ path('provip_application_hei_settings') }}">Settings</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('provip_application_default_heidocumentation') }}">Help</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
    </ul>
{% endblock %}


{% block modal %}

    <!-- .modal -->
    <div id="new-hei-update" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                    <h4 class="modal-title" id="myModalLabel">Status Update</h4>
                </div>

                <div class="modal-body">

                    <div class="errors">

                    </div>

                    <p class="text-small">This will be visible for all current students and study program staff members</p>

                    <form class="form-horizontal hei-update-form" method="POST">

                        <div class="activity-update-form">

                        </div>

                    </form>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-small btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-small btn-primary hei-activity-update">Post</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>

    <!-- / .modal -->
{% endblock %}
