<!DOCTYPE html>
<html lang="en">
<head>
<head>
    <meta charset="utf-8">
    <title>{{ app.user }} - Pathway</title>
    <meta name="description" content="Provip is an international internship marketplace bringing students and companies together">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{{ asset('bundles/provipapplication/images/favicon.ico') }}" />

    {% stylesheets
    'bundles/provipapplication/css/bootstrap.css' filter='cssrewrite'
    'bundles/provipapplication/css/style.css' filter='cssrewrite'
    'bundles/provipapplication/css/*' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!--[if lt IE 9]>
    {% stylesheets 'bundles/provipapplication/css/ie.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts
    '@ProvipApplicationBundle/Resources/public/js/respond.min.js'
    '@ProvipApplicationBundle/Resources/public/js/html5.js'
    '@ProvipApplicationBundle/Resources/public/js/excanvas.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <![endif]-->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

</head>
<body>
<div class="loader"><img src="{{ asset('bundles/provipapplication/images/ajax-loader.gif') }}"> Working...</div>
<!-- header -->
<header id="header" class="navbar navbar-sm navbar-fixed bg bg-black">
    <ul class="nav navbar-nav navbar-avatar pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-sm-only">{{ app.user }}</span>
                <span class="thumb-small avatar inline profile-pic-doc">
                    {% if app.user.picture %}
                        <img src="{{(app.user.picture.getWebPath) | imagine_filter('thumbnail')  }}" alt="{{ app.user }}" class="img-circle" />
                    {% else %}
                        <img src="{{ asset('bundles/provipapplication/images/default-user-icon-profile.png') }}" alt="{{ app.user }}" class="img-circle" />
                    {% endif %}
                </span>
                <b class="caret hidden-sm-only"></b>
            </a>
            {% block user_menu %}
            {% endblock %}
        </li>
    </ul>
    <a class="navbar-brand" href="{{ path('provip_application_default_index') }}">Pathway</a>
    <button type="button" class="btn btn-link pull-left nav-toggle hidden-lg" data-toggle="class:show" data-target="#nav">
        <i class="icon-reorder icon-xlarge text-default"></i>
    </button>
    <ul class="nav navbar-nav hidden-sm">

        {% if is_granted('ROLE_STUDENT') %}
            <li class="post-button-doc"><div class="m-t-small"><a class="btn btn-small btn-info new-activity-update"><i class="icon-plus"></i> POST</a></div></li>
        {% elseif is_granted('ROLE_COMPANY_STAFF') %}
            <li class="post-button-doc"><div class="m-t-small"><a class="btn btn-small btn-info new-company-update"><i class="icon-plus"></i> POST</a></div></li>
        {% elseif is_granted('ROLE_HEI_STAFF') %}
            <li class="post-button-doc"><div class="m-t-small"><a class="btn btn-small btn-info new-hei-update"><i class="icon-plus"></i> POST</a></div></li>
        {% else %}
        {% endif %}

    </ul>



</header>
<!-- / header -->


<!-- nav -->
<nav id="nav" class="nav-primary visible-lg nav-vertical bg-light">
    {% block nav %}
    {% endblock %}
</nav>
<!-- / nav -->
<section id="content">
<main class="main">
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} rect">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block main %}
    {% endblock %}
</main>
</section>

{% block modal %}
{% endblock %}

<!-- footer -->
<footer id="footer">
    <div class="text-center padder clearfix">
        <p>
            <small>&copy; Pathway {{ "now" |date("Y") }} Provip Consortium</small><br><br>

        </p>
    </div>
</footer>



{% javascripts
'@ProvipApplicationBundle/Resources/public/js/jquery.min.js'
'@ProvipApplicationBundle/Resources/public/js/bootstrap.js'
'@ProvipApplicationBundle/Resources/public/js/app.js'
'@ProvipApplicationBundle/Resources/public/js/app.data.js'
'@ProvipApplicationBundle/Resources/public/js/jquery.sparkline.min.js'
'@ProvipApplicationBundle/Resources/public/js/jquery.easy-pie-chart.js'
'@ProvipApplicationBundle/Resources/public/js/bootstrap.file-input.js'
'@ProvipApplicationBundle/Resources/public/js/respond.min.js'
'@ProvipApplicationBundle/Resources/public/js/moment.min.js'
'@ProvipApplicationBundle/Resources/public/js/combodate.js'
'@ProvipApplicationBundle/Resources/public/js/bootstrap-select.min.js'
'@ProvipApplicationBundle/Resources/public/js/bootstrap-datepicker.js'
'@ProvipApplicationBundle/Resources/public/js/pageguide.min.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
  $(document).ready(function() { tl.pg.init({}); });
</script>



</body>
</html>