{% extends "ProvipApplicationBundle::base_hei.html.twig" %}

{% block main %}
<div class="multi-padder">
</div>
<div class="row">
    <div class="col col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                {{ studyProgram }}
            </header>

            <div class="panel-content">

                <div class="row">
                    <div class="col col-lg-3">
                        <label>Name</label>
                    </div>
                    <div class="col col-lg-9">
                        <p>{{ studyProgram }} ({{ studyProgram.higherEducationalInstitution }})</p>
                    </div>
                </div>

                <div class="line pull-in"></div>

                <div class="row">
                    <div class="col col-lg-3">
                        <label>Learning Outcomes</label>
                    </div>
                    <div class="col col-lg-9">
                        <form class="studyprogram-edit" action="#" method="POST">
                            {{ form_widget(formStudyProgram.learningOutcomes) }}
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-3">
                        <label>Internship Milestones</label>
                    </div>
                    <div class="col col-lg-9">
                        <form class="milestones-doc studyprogram-edit" action="#" method="POST">
                            {{ form_widget(formStudyProgram.internshipMilestones) }}
                            {{ form_rest(formStudyProgram) }}
                        </form>
                        <button class="btn btn-success btn-small block studyprogram-edit" type="button">Save Changes</button>
                    </div>
                </div>

                <div class="line pull-in"></div>

                <div class="row">
                    <div class="col col-lg-3">
                        <label>Skills</label>
                    </div>
                    <div class="col col-lg-9">
                        <div class="skills">
                            {% for skill in studyProgram.skills %}
                               <button class="btn btn-white btn-small remove-skill" data-id="{{ skill.id }}">{{ skill.value }} <i class="icon-remove-sign text-danger"></i></button>
                            {% endfor %}
                        </div>
                        <div class="multi-padder">
                        </div>
                        <form class="new-skill" action="#" method="POST">
                            <div class="row">
                                <div class="col col-lg-3">
                                    {{  form_widget(formSkill) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-lg-2">
                                    <br>
                                    <a class="btn btn-success new-skill btn-small">Add</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="line pull-in"></div>

                <div class="row">
                    <div class="col col-lg-3">
                        <label>Student Internship Tasks</label><br>
                    </div>
                    <div class="col col-lg-9">
                        <a href="#new-goal" class="btn btn-info btn-small students-tasks-doc" data-toggle="modal"><i class="icon-plus"></i> CREATE INTERNSHIP TASK</a>
                        <hr>
                        <table class="table table-striped text-small">
                            <thead>
                            <tr>
                                <th>Student</th>
                                <th>Internship tasks</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for enrollment in studyProgram.getEnrollments %}
                                {% if enrollment.approved %}
                                <tr>
                                    <td><h5>{{ enrollment.student.fullName }}</h5></td>
                                    <td>

                                        <ul style="margin-left: 0px; list-style-type: none" id="enrollment-{{ enrollment.id }}" data-enrollment-id="{{ enrollment.id }}">
                                            {% for deliverable in enrollment.deliverables %}
                                                {% for task in deliverable.tasks %}
                                                    <li><button class="btn btn-white btn-small remove-task" data-id="{{ task.id }}">{{ task.deadline | date("d-m-Y")}} - {{ task.title}} <i class="icon-remove-sign text-danger"></i></button></li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>


                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>


        </section>
    </div>
</div>


    <form class="form-horizontal new-goal"  action="{{ path('provip_application_hei_info') }}" method="POST">
        <div id="new-goal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                        <h4 class="modal-title" id="myModalLabel">Create Internship Task</h4>
                    </div>

                    <div class="modal-body">


                        <div class="errors">
                        </div>

                        <article class="media">

                            {{ form_label(formGoal.enrollment) }}
                            <br>
                            {{ form_widget(formGoal.enrollment) }}

                        </article>

                        <div class="line pull-in"></div>

                        {{ form_label(formGoal.tasks) }}

                        <article class="tasks media" data-prototype="

                            &lt;div class=&quot;row&quot; style=&quot;margin-bottom: 20px&quot; &gt;
                            &lt;div class=&quot;col col-lg-8&quot;&gt;
                              {{ form_widget(formGoal.tasks.vars.prototype.title)|e }}
                            &lt;/div&gt;
                            &lt;div class=&quot;col col-lg-3&quot;&gt;
                               {{ form_widget(formGoal.tasks.vars.prototype.deadline)|e }}
                            &lt;/div&gt;
                            &lt;div class=&quot;col col-lg-1&quot;&gt;
                              &lt;a href=&quot;#&quot; class=&quot;remove-task-pre-submit&quot;&gt;&lt;span class=&quot;text-danger&quot;&gt;&lt;i class=&quot;icon-remove&quot;&gt;&lt;/i&gt;&lt;/span&gt;&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        ">

                        </article>

                        {{ form_widget(formGoal._token) }}


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-small btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-small btn-primary new-learning-goal">Create</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>
    </form>


  <ul id="tlyPageGuide" data-tourtitle="Important information on this page">

    <li class="tlypageguide_top" data-tourtarget=".milestones-doc">
      <div>
        <h4>Internship Milestones</h4>
  <p>The main goal of internationalization is to develop intercultural competencies: to enable students to tolerate and embrace differences without feeling threatened in their own identity. An international work placement provides an excellent opportunity to work on these skills in a professional environment. However, their acquisition does not happen merely because a student is exposed to another cultural environment, especially when the exposure is mainly virtual. Throughout the whole internship explicit attention to the development of intercultural skills is necessary. Students need to be stimulated to reflect upon this on a regular basis.</p>
      <br><br>
      </div>
    </li>
    <li class="tlypageguide_top" data-tourtarget=".students-tasks-doc">
      <div>
        <h4>Student Internship Tasks</h4>
        <p>When you access Pathway for the first time, this list will be empty. When you have approved registered users under the Students tab, their names will appear here. You can then add specific tasks for the internship. These tasks will be the internship deliverables for the HEI. Tasks may include reflection assignments like “Write a blog posts every week on your internship activity” or presentation tasks “Present your current internship work at the weekly student meeting”. You can create a different task set for each student.</p>
        <br><br>
      </div>
    </li>
  </ul>

  <div id="tlyPageGuideWelcome">
    <h4>Welcome {{ app.user }}</h4>
    <p>You are a study program administrator.</p>
    <p>Complete all the information for your study program which will help students successfully apply for an internship.</p>
    <button class="tlypageguide_dismiss">Got it, thanks</button>
  </div>

{% endblock %}


