{% extends "ProvipApplicationBundle::base_hei.html.twig" %}


{% block main %}
<section class="panel">
    <header class="panel-heading bg-default">
        Students
    </header>
    <ul id="staff-list" class="list-group list-group-flush m-t-n">
        {% for e in enrollments %}
        <li class="list-group-item">
            <div class="media">
                <span class="pull-left thumb-small">
                    {% if e.student.picture %}
                        <img src="{{(e.student.picture.getWebPath) | imagine_filter('thumbnail')  }}" alt="{{ e.student }}" class="img-rounded">
                    {% else %}
                        <img src="{{ asset('bundles/provipapplication/images/default-user-icon-profile.png') }}" alt="{{ e.student }}" class="img-rounded">
                    {% endif %}

                </span>
                <div class="pull-right">
                   {% if e.approved %}
                   {% else %}
                       <button data-enrollment="{{ e.id }}" class="btn btn-success btn-small approve">Approve Enrollment</button>
                   {% endif %}
                </div>
                <div class="media-body">
                    <div><a href="#" class="h5">{{ e.student }}</a></div>
                    <small class="text-muted">
                        {% if e.student.lastLogin %}
                        <span class="moment">{{ e.student.lastLogin | date("Ymd H:m:s")  }}</span>
                        {% else %}
                            Did not log in yet
                        {% endif %}
                    </small>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>


{% endblock %}


