{% extends "ProvipApplicationBundle::base_hei.html.twig" %}

{% block main %}
    <div class="multi-padder">
    </div>
    <div class="row">
        <div class="col col-lg-6">
            <section class="panel">
                <header class="panel-heading">
                    Choose a Study Program
                </header>

                <div class="panel-content">

                    {% for studyProgram in studyPrograms %}

                    <div class="row">
                        <div class="col col-lg-9">
                            <p>{{ studyProgram }} ({{ studyProgram.higherEducationalInstitution }})</p>
                        </div>
                        <div class="col col-lg-3">
                            <a href="{{ path('provip_application_hei_choose')}}/{% if(route is defined) %}{{ route }}{% endif %}/{{ studyProgram.id }}">Continue</a>
                        </div>
                    </div>

                    {% endfor %}

                </div>


            </section>
        </div>
    </div>

{% endblock %}


