{% extends "ProvipApplicationBundle::base_hei.html.twig" %}


{% block main %}

    <div class="padder clearfix" style="min-height: 15px">

    </div>

    <div class="row">


        <div class="col col-lg-8">

            <section class="comment-list block">

                {% for notification in app.user.notifications %}

                    <article id="comment-id-{{ loop.index }}" class="comment-item media arrow-left">
                        <a class="pull-left thumb-small avatar">
                            {% if notification.event.author.picture %}
                                <img src="{{(notification.event.author.picture.getWebPath) | imagine_filter('thumbnail')  }}" alt="{{ notification.event.author }}" class="img-circle" />
                            {% else %}
                                <img src="{{ asset('bundles/provipapplication/images/default-user-icon-profile.png') }}" alt="{{ notification.event.author }}" class="img-circle" />
                            {% endif %}
                        </a>
                        <section class="media-body panel">
                            <header class="panel-heading clearfix">
                                <a href="#">{{ notification.event.author }}</a><span class="text-muted m-l-small pull-right"><i class="icon-time"></i>{{ notification.event.created | date("d M Y H:i:s") }}</span>
                            </header>
                            <div>{{ notification.event.message }}</div>
                            {% if notification.event.activity %}
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item bg">
                                        <div class="media">


                                            <span class="pull-right label bg-default">
                                                Activity
                                            </span>

                                            <div class="media-body">
                                                <div>
                                                    <a href="#" class="text-small">{{ notification.event.activity.title }}</a><br>
                                                    <small>{{ notification.event.activity.student }} for task <strong>{{ notification.event.activity.task.title }}</strong> in internship <a style="text-decoration: underline; font-weight: bolder" href="{{ path('provip_application_internship_detailhei', {'publicId': notification.event.activity.application.internship.publicId}) }}">{{ notification.event.activity.application.opportunity.title }}</a></small>
                                                </div>
                                                <small class="text-muted">{{ notification.event.activity.state }}</small>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            {% endif %}
                        </section>
                    </article>
                {% endfor %}

            </section>

        </div>



    </div>




  <ul id="tlyPageGuide" data-tourtitle="Get help on this page">
    <li class="tlypageguide_right" data-tourtarget=".first_element_to_target">
      <div>
        <h4>Internships</h4>
        <p>Here you can check the progress of students in an
          active internship or approve pending applications. You can also
          start the evaluation process for internships that are marked as
          completed.</p>
      </div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".second_element_to_target">
      <div>
        <h4>Study Program</h4>
        <p>This is the proﬁle page of your study program. Here
          you can write down learning outcomes, identify skills and assign
          speciﬁc tasks to registered students.</p>
      </div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".third_element_to_target">
      <div>
       <h4>Staff</h4>
        <p>You can invite colleagues to the platform so they can assist in the
          follow-up of internships or be the contact person for speciﬁc issues.</p>
      </div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".fourth_element_to_target">
      <div>
        <h4>Students</h4>
        <p>This gives you an overview
          off all your students. Here you can
          approve or deny the enrollment of
          students in your study program.</p>
      </div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".fifth_element_to_target">
      <div>
        <h4>Settings</h4>
        <p>This is your personal proﬁle
          page. You can add a proﬁle picture
          and complete your contact
          information..</p>
      </div>
    </li>
    <li class="tlypageguide_right" data-tourtarget=".post-button-doc">
      <div>
        <h4>Status Updates</h4>
        <p>With the blue “+Post” button next to the Pathway Title you can post
          announcements. These are visible to every registered staff member
          and student in your study program.</p>
      </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget=".profile-pic-doc">
      <div>
        <h4>Account &amp; Help</h4>
        <p>You can access the documentation or you can download manual in PDF format.</p>
      </div>
    </li>
  </ul>

  <div id="tlyPageGuideWelcome">
    <h4>Welcome {{ app.user }}</h4>
    <p>This is your personal dashboard.</p>
    <p>Updates about your HEI and internships will appear here.</p>
    <button class="tlypageguide_dismiss">Got it, thanks</button>
  </div>


{% endblock %}