{% extends "ProvipApplicationBundle::base_hei.html.twig" %}
{% form_theme form 'ProvipApplicationBundle:Form:fields.html.twig' %}

{% block main %}
<div class="padder clearfix">
    <h4><i class="icon-cog">Account Settings</i></h4>
</div>
<div class="row">
    <div class="col col-lg-6">
        <section class="panel">
            <form class="form-horizontal" action="{{ path('provip_application_hei_settings') }}" method="POST" enctype="multipart/form-data">

                {{ form_errors(form) }}

                <div class="row">
                    <div class="col col-lg-12">
                        <div class="row">
                            {{ form_label(form.picture, label|default(null), { 'label_attr': { 'class': 'col col-lg-3 control-label' } }) }}
                            <div class="col col-lg-9 media">
                                <div class="bg-light pull-left text-center media-large thumb-large profile-pic-doc-2">
                                    {% if app.user.picture %}
                                        <img class="img-rounded" width="150" height="150" src="{{(app.user.picture.getWebPath) | imagine_filter('thumbnail')  }}" />
                                    {% else %}
                                        <i class="icon-user inline icon-light icon-3x m-t-large m-b-large"></i>
                                    {% endif %}
                                </div>
                                <div class="media-body">
                                    {{ form_widget(form.picture, { 'attr': {'class': 'btn btn-small btn-info m-b-small'  } }) }}
                                    <br>
                                    <a href="{{ path('provip_application_hei_deletepicture') }}" class="btn btn-small btn-default">Delete</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col col-lg-3 control-label">Email</label>
                            {{ form_widget(form._token) }}
                            <div class="col col-lg-9">
                                <span class="text">{{ app.user.email }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col col-lg-3 control-label">Password</label>
                            <div class="col col-lg-9">
                                <a href="{{ path('fos_user_change_password') }}" class="text link">Change your password</a>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col col-lg-3 control-label">Name</label>
                            <div class="col col-lg-9">
                                <span class="text">{{ app.user }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col col-lg-3 control-label">Institution</label>
                            <div class="col col-lg-9">
                                <a href="#" class="text link">
                                    {% if app.user.adminOf %}
                                        {{ app.user.adminOf.higherEducationalInstitution }}
                                    {% else %}
                                        {{ app.user.teachesAt.higherEducationalInstitution }}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col col-lg-3 control-label">Study Program</label>
                            <div class="col col-lg-9">
                                <a href="#" class="text link">
                                    {% if app.user.adminOf %}
                                        {{ app.user.adminOf }}
                                    {% else %}
                                        {{ app.user.teachesAt }}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col col-lg-3 control-label">Phone Number</label>
                            <div class="col col-lg-9">
                               {{ form_widget(form.phone) }}
                                {{ form_errors(form.phone) }}
                            </div>
                        </div>

                        <div class="row">
                            <label class="col col-lg-3 control-label">Job Description</label>
                            <div class="col col-lg-9">
                               {{ form_widget(form.jobDescription) }}
                                {{ form_errors(form.jobDescription) }}
                            </div>
                        </div>

                        <div class="row">
                            <label class="col col-lg-3 control-label">You can contact me for</label>
                            <div class="col col-lg-9 contact-me-for-doc">
                                {{ form_widget(form.responsibleFor) }}
                                {{ form_errors(form.responsibleFor) }}
                            </div>
                        </div>


                        {{ form_rest(form) }}

                        <div class="row">
                            <div class="col col-lg-9 col-offset-3">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

  <ul id="tlyPageGuide" data-tourtitle="Get help on this page">
    <li class="tlypageguide_right" data-tourtarget=".contact-me-for-doc">
      <div>
        <h4>Internship Role</h4>
        <p> The student needs to be supported, monitored and assessed during all the phases of his or her internship. A mentor will have to ensure that the trainee receives challenging but achievable tasks that are authentic and of real value to the enterprise. Performing good quality tasks facilitate the learning process. The mentor stimulates reflection and provides feedback on a regular basis.
        </p>
      </div>
    </li>

    <li class="tlypageguide_right" data-tourtarget=".profile-pic-doc-2">
      <div>
        <h4>Your Profile Picture</h4>
        <p>You can upload a profile picture. If you want to change your profile picture, make sure to delete the existing one first.</p>
      </div>
    </li>

  </ul>

  <div id="tlyPageGuideWelcome">
    <h4>Welcome {{ app.user }}</h4>
    <p>This is your settings page.</p>
    <p>You can complete your profile to tell students about yourself and your role in the Higher Education Institution.</p>
    <button class="tlypageguide_dismiss">Got it, thanks</button>
  </div>
{% endblock %}